!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title= yield_content :title
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css',
                          '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
  %body
    .container
      = yield
    = javascript_include_tag '//code.jquery.com/jquery-latest.min.js',
                             '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'

    = yield_content :javascript
