%h1.page-header Stanislav Gorski

.row
  .col-md-4
    = image_tag 'avatar.jpeg', class: 'img-rounded img-responsive'
    %br
  .col-md-8
    = partial 'summary'
    = partial 'experience'
    = partial 'projects'
%br

- content_for :title, 'Stanislav Gorski @ GitHub'

- content_for :javascript do
  = javascript_include_tag 'app'
